p{
    background-color: rgb(221, 221, 227);
    font-style:normal;
    text-align: right;
    padding-left: 35%;
    padding-right: 10px;
    display: inline-block;
 
 }
 
 h5{
     text-align: right;
     margin-right: 5%;
     
 
 }
 h2{
     text-align: center;
     color: rgb(50, 177, 50);
 
 }